<section id="about" class="section">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>About</h2>
        <p> Motivation </p>
      </div>


      <div class="row content" data-aos="fade-up">
        <div class="col-lg-6">
          <p>
            Throughout the last two decades, the volume of data derived from climate models and observations has expanded significantly. Consequently, the conventional method of downloading and locally processing climate data is becoming progressively demanding, even for researchers equipped with extensive computational resources. Despite the prevailing notion that cloud computing offers a remedy for data volume issues, and while instances of its successful implementation exist, the scientific community has yet to widely embrace this solution, as observed over the past few years. 
          </p>
          <p>
            This workshop serves as a convergence point for urban climate scientists and cloud computing experts. Here, scientists can deliberate on the hurdles encountered when handling big data, while engineers can present the latest advancements in the citybrain.org platform. The underlying objective of this workshop is two-fold: we aim to collaboratively enhance the platform's functionality to truly expedite scientific breakthroughs, while simultaneously enabling scientists to achieve computational feats that were once deemed unattainable.
          </p>
        
      </div> 
    </div>
  </section><!-- End About Section -->
