<section id="participant" class="section">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Participants</h2>
            <p>Participating the Workshop </p>
        </div>
        
        <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
            <p>
                The workshop is open and free to anyone who is interested. 
            </p>
            <h4>Registration</h4>
            <p>   
                <b>REGISTRATION IS REQUIRED. </b> 
                Registration deadline: March 31, 2024
            </p>
            <p>   
                If you have successfully registered, you should have already received an email of confirmation from the organizer. 
                Please remember to bring your ID to the workshop, as registration is mandatory, and only registered attendees will be granted entry. 
            </p>
            <h4>Venue</h4>
            <p>
                TBD
            </p>

            <h4> Contact </h4>
            <p>
                If you have any questions, please contact organizers Dr. Lei Zhao () and Dr. Jessie Li (jessielzh at gmail.com).
            </p>
        </div>
    </div>
  </section>


  <section id="about" class="section">
    <div class="container">

    <div class="section-title" data-aos="zoom-out">
        <h2>More Info</h2>
        <p> Past Workshops
        </p>
    </div>

    <ul>
            <li> <a href="https://open-data-computing.github.io/2023-yunqi/">Workshop@Yunqi Town, Hangzhou (Sept, 2023)</a> </li>
    </ul>
    
    <br>
    <div>
      <img src="assets/images/122A0199.JPG" alt="workshop organizers">
    </div>

  </section><!-- End About Section -->
