<section id="participant" class="section">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Participants</h2>
            <p>Participating the Workshop </p>
        </div>
        
        <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
            <p>
                The workshop is open and free to anyone who is interested. 
            </p>
            <p>   
                <b>REGISTRATION IS REQUIRED. </b>
                Please fill in <a href="https://forms.office.com/r/rbn5i5Awq8">this registration form</a>. 
            </p>
            <p>
                <b>Registration deadline: September 10th, 2023.</b>
            </p>

            <p>
                For hotels and local information, please refer to <a href="assets/doc/Yunqi.pdf">this document</a>.
            </p>

            <p>
                If you have any  questions, please contact organizers Dr. Jessie Li (jessielzh at gmail.com) and Dr. Zhonghua Zheng (zhonghua.zheng at manchester.ac.uk).
            </p>
        </div> 

        </div>
    </div>
  </section>