<section id="participant" class="section">
    <div class="container">

        <div class="section-title" data-aos="zoom-out">
            <h2>Participants</h2>
            <p>Participating the Workshop </p>
        </div>
        
        <div class="row content" data-aos="fade-up">
            <div class="col-lg-6">
            <p>
                The workshop is open and free to anyone who is interested. 
            </p>
            <h4>Registration</h4>
            <p>   
                <b>REGISTRATION IS REQUIRED. </b> 
                The registration deadline (Sept. 10th) has passed. 
                If you haven't registered yet but would like to participate, kindly reach out to Dr. Jessie Li via email at jessielzh at gmail.com to inquire about late registration.            
            </p>

            <h4>Venue and Hotel</h4>
            <p>
                For workshop location, nearby hotels and other local information, please refer to <a href="assets/doc/Yunqi.pdf">this document</a>.
            </p>

            <h4> Contact </h4>
            <p>
                If you have any questions, please contact organizers Dr. Jessie Li (jessielzh at gmail.com) and Dr. Zhonghua Zheng (zhonghua.zheng at manchester.ac.uk).
            </p>

            <h4> Participants </h4>
            <P> We have 75 registered participants. The list below only shows that participants who are agree to share their information on the website.</P>
            <ul>
                <li> 张泽轩	(浙江大学) </li>
                <li><a href="https://person.zju.edu.cn/en/0622962#967966">Yuanyuan Wang</a> (Zhejiang University)</li>
                <li>孙聪 (杭州基本粒子科技有限公司) </li>
                <li>Bin Chen (YXG Capital) </li>
                <li><a href="https://person.zju.edu.cn/longcao">Long Cao</a> (Zhejiang University) </li>
                <li>Qiaosha Zou (Zhejiang Lab)</li>
                <li><a href="www.hxue.org">Hui Xue (Zhejiang Lab)</a></li>
                <li>Xia Zhao (Zhejiang University of Finance & Economics)</li>
                <li><a href="https://www.kent.ac.uk/engineering/people/736/wang-jiangzhou">Jiangzhou Wang</a> (University of Kent)</li>
                <li><a href="https://person.zju.edu.cn/bjgu">Gu Baojing</a> (Zhejiang University)</li>
                <li>Duan Jiakun (Zhejiang University)</li>
                <li>Jinglan Cui (Zhejiang University)</li>
                <li><a href="https://faculty.nuist.edu.cn/wangwei1/zh_CN/index.htm">WEI WANG</a> (Nanjing University of Information Science & Technology)</li>
                <li>Kan Wu (Zhejiang Lab)</li>
                <li>Wei Ji (Zhejiang Lab)</li>
                <li>Liu Chao (National Astronomical Observatories, CAS, China)</li>
                <li>Bo Zhang (National Astronomical Observatories, CAS)</li>
                <li>于淼 (中国气象科学研究院)</li>
                <li><a href="https://vivid-urban.weebly.com/">Wei Chen (Iowa State University)</a></li>
                <li>Ran DUAN (National Astronomical Observatories of CAS)</li>
                <li>Junjie Yu (The University of Manchester)</li>
                <li>Xin Xu (Zhejiang University)</li>
                <li><a href="https://shanghai.nyu.edu/academics/faculty/directory/kangning-ken-huang">Kangning Huang</a> (New York University Shanghai)</li>
                <li>JIALI FENG (Guangdong-Hong Kong-Macao Greater Bay Area Weather Research Center for Monitoring and Forecasting (Shenzhen Institute of Meteorological Innovation) )</li>
                <li><a href="https://as.nju.edu.cn/59/8c/c11339a219532/page.htm">Ning ZHANG</a> (张宁） (南京大学 Nanjing University)</li>
                <li><a href="https://www.scl.hku.hk/">Yuyu Zhou</a> (The University of Hong Kong)</li>
                <li>Xuecao Li (China Agricultural University)</li>
                <li><a href="https://person.zju.edu.cn/dantongliu">Dangtong Liu</a> (Zhejiang University/School of Earth Sciences)</li>
                <li>Yiwen Zhang (University of Illinois Urbana-Champaign)</li>
                <li>Jia Hu (Hohai University)</li>
                <li>Weilin Liao (Sun Yat-sen University)</li>
                <li><a href="http://dse.rcees.cas.cn/yjzjs/csstxtybjlydkjsyj/csstgjymnyjz/201211/t20121107_101610.html">Weiqi Zhou</a> (Research Center for Eco-Environmental Sciences, Chinese Academy of Sciences)</li>
                <li>Jie Cao (Research Center for Eco-Environmental Sciences,Chinese Academy of Sciences)</li>
                <li>Jiayu Li (Research Center for Eco-Environmental Sciences, Chinese Academy of Sciences)</li>
                <li>Yi Sun (Hangzhou City University)</li>
                <li>Bowen Fang (University of Illinois at Urbana-Champaign )</li>
                <li>Zhuo Chen  (Datafied Life Collaboratory, University of Helsinki)</li>
                <li>Chen Xiyao（陈曦垚） (Zhejiang University)</li>
                <li>羊嘉文 (浙江大学)</li>
                <li>Lei Zhao (University of Illinois Urbana-Champaign)</li>
                <li><a href="http://dse.rcees.cas.cn/yjzjs/csstxtybjlydkjsyj/csstgjymnyjz/202301/t20230110_730865.html">Jia Wang</a> (Research Center for Eco-Environmental Sciences, Chinese Academy of Sciences)</li>
                <li>David Owen Topping (The University of Manchester)</li>
                <li>Huidong Li (Institute of Applied Ecology, Chinese Academy of Sciences)</li>
                <li>KuangWang (Zhejiang  University)</li>
                <li>Zheng Miao (Zhejiang University)</li>
                <li>王妮 (中国科学院大学)</li>
                <li>Zhifeng Zhao (Zhejiang lab)</li>
                <li>DAZHI SHI (Alibaba Cloud)</li>
                <li>一灏 (Alibaba Cloud)</li>
                <li>Mabingtao (Alibaba Cloud)</li>
                <li>Saixin Wang (Zhejiang Lab)</li>
                <li>Huiwen Wu (Zhejiang Lab)</li>
                <li>WANG Ping (Zhejiang Lab)</li>
                <li>jun wang (Zhejiang lab)</li>
                <li>Yongheng Wang (Zhejiang Lab)</li>
                <li> Yixiong Wei(魏一雄) (Zhejiang Lab) </li>
                <li> 叶杰平 (Alibaba) </li>
                <li> <a href="https://www.researchgate.net/profile/Zechen-Yu">Zechen Yu</a> (Hangzhou Institute for Advanced Study, UCAS) </li>
                <li> chao LI (Suzhou Deep-time Digital Earth Research Centre) </li>
                <li> 王鹏 (雪浪云) </li>
            </ul>  
        </div> 

        </div>
    </div>
  </section>