<style>
  .card-content {
    min-height: 168px;
  }
    @media (min-width: 992px) {
      .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66666667%;
      }
  }
  </style>

    <!-- ======= Organization Section ======= -->
    <section id="organizers" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Organization</h2>
          <p>Workshop Organizers</p>
        </div>


        <div class="columns is-multiline">
          
          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/zhaolei.png" alt="Lei Zhao">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://cee.illinois.edu/directory/profile/leizhao">Lei Zhao</a></h4>
              <strong>Assistant Professor</strong>
              <p><strong>The University of Illinois at Urbana-Champaign</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/jessie.jpeg" alt="Zhenhui (Jessie) Li">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://jessielzh.com/">Zhenhui (Jessie) Li</a></h4>
                <strong>Chief Scientist</strong>
                <p><strong>Yunqi Academy of Engineering</strong></p>
            </div>
          </div>

          
        </div>
      </div>
    </section>

    <section id="contributors" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contributors</h2>
          <p>Science Contributors </p>
        </div>

        <div class="columns is-multiline">
          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/science.webp" alt="Science Contributor">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
                <h4>Name</h4>
                <p><strong>Role</strong></p>
                <p><strong>Institute</strong></p>
            </div>
          </div>
        </div>

        <div class="section-title" data-aos="zoom-out">
          <p>Computing Contributors </p>
        </div>

        <div class="columns is-multiline">
          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/computing.webp" alt="Computing Contributor">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4>Name</h4>
                <p><strong>Role</strong></p>
                <p><strong>Institute</strong></p>
            </div>
          </div>
        </div>
      </section>
