<style>
  .card-content {
    min-height: 168px;
  }
    @media (min-width: 992px) {
      .col-lg-2 {
        flex: 0 0 auto;
        width: 19.66666667%;
      }
  }
  </style>

    <!-- ======= Organization Section ======= -->
    <section id="organizers" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Organization</h2>
          <p>Workshop Organizers</p>
        </div>

        <div class="columns is-multiline">
          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/jessie.jpeg" alt="Zhenhui (Jessie) Li">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://jessielzh.com/">Zhenhui (Jessie) Li</a></h4>
                <strong>Chief Scientist</strong>
                <p><strong>Hangzhou Yunqi Academy of Engineering</strong></p>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/zhonghua.jpg" alt="Zhonghua Zheng">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://zhonghuazheng.com/">Zhonghua Zheng</a></h4>
              <strong>Assistant Professor</strong>
              <p><strong>The University of Manchester</strong></p>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    <section id="contributors" class="section">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contributors</h2>
          <p>Science Contributors </p>
        </div>
        <div class="columns is-multiline">


          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/jiali.jpeg" alt="Jiali Feng">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
                <h4><a href="http://weather.sz.gov.cn/gbamwf/rencaiduiwu/taifengyubaotuandui/content/post_10120244.html">Jiali Feng</a></h4>
                <p><strong>Researcher</strong></p>
                <p><strong>Shenzhen Institute of Meteorological Innovation</strong></p>
                <p><strong>GBA-MWF</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/ken2.png" alt="Kangning (Ken) Huang">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://shanghai.nyu.edu/academics/faculty/directory/kangning-ken-huang">Kangning (Ken) Huang</a></h4>
              <strong>Assistant Professor</strong>
              <p><strong>Enivronmental Studies</strong></p>
              <p><strong>New York University Shanghai</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/huidong.jpg" alt="Huidong Li">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://www.researchgate.net/profile/Huidong-Li-3">Huidong Li</a></h4>
              <strong>Researcher</strong>
              <p><strong>Institute of Applied Ecology</strong> </p>
              <p><strong>Chinese Academy of Sciences</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/weilin.png" alt="Weilin Liao">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://gp.sysu.edu.cn/zh-hans/teacher/3592">Weilin Liao</a></h4>
                <strong>Associate Professor </strong>
                <p><strong>Geography and Planning</strong></p>
                <p><strong>Sun Yat-Sen University</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/david.webp" alt="David Topping">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://research.manchester.ac.uk/en/persons/david.topping">David Topping</a></h4>
                <strong>Professor </strong>
                <p><strong>Earth and Environmental Sciences</strong></p>
                <p><strong>The University of Manchester</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/yumiao.jpeg" alt="Miao Yu">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
                <h4><a href="https://graduate.camscma.cn/article/3/303.html">Miao Yu</a></h4>
                <p><strong>Researcher</strong></p>
                <p><strong>Graduate Division</strong></p>
                <p><strong>Chinese Academy of Meteorological Sciences</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/zhangning.png" alt="Ning Zhang">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
                <h4><a href="https://as.nju.edu.cn/as_en/00/15/c20738a327701/page.htm">Ning Zhang</a></h4>
                <p><strong>Professor</strong></p>
                <p><strong>Atmospheric Sciences</strong></p>
                <p><strong>Nanjing University</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/zhaolei.png" alt="Lei Zhao">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="https://cee.illinois.edu/directory/profile/leizhao">Lei Zhao</a></h4>
              <strong>Assistant Professor </strong>
              <p><strong>Civil and Environmental Engineering</strong></p>
              <p><strong>University of Illinois Urbana-Champaign</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/weiqi.png" alt="Weiqi Zhou">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4><a href="http://dse.rcees.cas.cn/yjzjs/csstxtybjlydkjsyj/csstgjymnyjz/201211/t20121107_101610.html">Weiqi Zhou</a></h4>
                <strong>Researcher </strong>
                <p><strong>Eco-Environmental Sciences</strong></p>
                <p><strong>Chinese Academy of Sciences</strong></p>
            </div>
          </div>

          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/yuyuzhou.webp" alt="Yuyu Zhou">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
                <h4><a href="https://www.scl.hku.hk/people">Yuyu Zhou</a></h4>
                <p><strong>Professor</strong></p>
                <p><strong>Geography</strong></p>
                <p><strong>The University of Hong Kong</strong></p>
            </div>
          </div>
        </div>

        <div class="section-title" data-aos="zoom-out">
          <p>Computing Contributors </p>
        </div>

        <div class="columns is-multiline">
          <div class="column is-one-quarter">
            <div class="card-image has-text-centered">
              <figure class="image" style="height:100%;object-fit:cover;">
                <img class="is-rounded" src="assets/images/organizers-square/wangjian.webp" alt="Jian Wang">
              </figure>
            </div>
            <div class='card-content has-text-centered'>
              <h4>Jian Wang</h4>
                <p><strong>Founder</strong></p>
                <p><strong>Alibaba Cloud </strong></p>
            </div>
          </div>


        </div>

      </div>
    </section>


