<section id="schedule" class="section">
    <div class="container">
      <div class="section-title aos-init aos-animate" data-aos="zoom-out">
        <h2>Program</h2>
        <p>Workshop schedule </p>
       <div class="row">
<div class="col-md-6" style="width: 100%">


  <!-- <br>
  <span style="font-weight:bold">Please join us on: <br>
  <span style="font-weight:bold">Underline:  <br>
  <span style="font-weight:bold">Zoom:  <br>
  <br> -->
  <table class="table table-striped">
      <thead colspan="2">
        <tr>
          <th><span style="font-weight:bold">Date</span></th>
          <th><span style="font-weight:bold">Time</span></th>
          <th><span style="font-weight:bold;background-color:#FFF">Event</span></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td rowspan="4" style="vertical-align: middle;">9/16/2023 Saturday (Pre-Workshop Day)</td>
          <td><span style="font-weight:bold">&nbsp;&nbsp;14:00 - &nbsp;&nbsp;15:30</span></td>
          <td>From City Brain to Data-Driven Science: Part 1   </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;15:30 - &nbsp;&nbsp;16:00</span></td>
          <td>Coffee Break </td>
        </tr>        
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;16:00 - &nbsp;&nbsp;18:00</span></td>
          <td>From City Brain to Data-Driven Science: Part 2  </td>
        </tr>          
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;18:00 - &nbsp;&nbsp;21:00</span></td>
          <td>Pre-Workshop Social Night </td>
        </tr>
        <tr>
          <td rowspan="8" style="vertical-align: middle;">9/17/2023 Sunday (Workshop Day)</td>
          <td><span style="font-weight:bold">&nbsp;&nbsp;09:00 - &nbsp;&nbsp;09:30</span></td>
          <td>Opening Remark and Introduction </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;09:30 - &nbsp;&nbsp;12:00</span></td>
          <td>Show Case on citybrain Platform </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;12:00 - &nbsp;&nbsp;13:30</span></td>
          <td>Lunch Break </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;13:30 - &nbsp;&nbsp;15:00</span></td>
          <td>Sharing by Science Contributors </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;15:00 - &nbsp;&nbsp;15:30</span></td>
          <td>Coffee Break </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;15:30 - &nbsp;&nbsp;17:00</span></td>
          <td>Sharing by Computing Contributors  </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;17:00 - &nbsp;&nbsp;18:00</span></td>
          <td>Looking Forward and Collaborative Actions </td>
        </tr>
        <tr>
          <td><span style="font-weight:bold">&nbsp;&nbsp;18:00 - &nbsp;&nbsp;20:00</span></td>
          <td>Dinner </td>
        </tr>

      </tbody>
      </table>
      </div>
      </div>
      </div> 
    </div>
  </section>
